/*CONTAINER*/

.container-fluid {
    padding: 0;
    margin: 0;
}


/*NAVBAR*/

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    width: 250px;
}


/*DASHBOARD*/

.dashboard {
    width: 100%;
    display: block;
}

.dashboard h4 {
    font-size: 20px;
}

.dashboard span {
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box {
    float: left;
    background-color: #dfdfdf;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
    border-radius: 5px;
}

.dashboard-box:nth-child(2) {
    margin-left: 1%;
    margin-right: 1%;
}

#dashboard-lastdays {
    background-color: #eab000;
}

#dashboard-done {
    background-color: #dc3545;
}

#dashboard-doing {
    background-color: #00a10d;
}


/*BOTAO ADICIONAR*/

#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #007bff;
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: white;
    margin-right: 10px;
    margin-left: 5px;
}


/*REFRESH*/

.fa-arrows-rotate {
    font-size: 18px;
    padding: 7px 0px;
    cursor: pointer;
    color: black;
}


/*SEARCH*/

.search-div {
    padding: 0px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.fa-magnifying-glass {
    font-size: 20px;
    padding: 8px 0px;
    cursor: pointer;
}


/*FILTER*/

.filter-div {
    margin-bottom: 15px;
    padding: 0;
}

#filter {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
}


/*LISTA TAREFA*/

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    padding: 0 5px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.task-item.done {
    background-color: rgb(240, 240, 240);
}

.hyperlink {
    text-decoration: none;
}

.fas.fa-trash,
.fas.fa-edit,
.fas.fa-check {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #dc3545;
}

.fas.fa-edit {
    color: #ffc107;
}

.fas.fa-check {
    color: #ccc;
}

.done .fas.fa-check {
    color: #00ac0e;
}


/*RODAPE*/

footer {
    background-color: #333;
    height: auto;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}


/*MESSAGE*/

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

li {
    list-style: none;
}


/*PAGINAÇÃO*/

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}


/*LOGIN*/

.auth-card {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.change-form-p {
    margin-top: 30px;
    text-align: center;
}