{% extends 'base.html' %}
{% block title %}PizzaTron{% endblock %}
{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>{{ task.title }}</h1>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" disabled readonly>{{ users.username }}</textarea>
          </div>
        <br>
        <a class="btn btn-secondary" href="/" role="button">Voltar</a>
        <br>
    </div>
    <br>
{% endblock %}
